name: .NET

on:
  push:
    branches: [ "main" ]
    
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
      
    - name: build image and push to docker hub
      uses: docker/build-push-action@v1.1.0
      with:
        username: williambr2022
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: williambr2022/solucao-api
        tags: ${{ github.sha }}, latest 
